extends template
block variables
	-	var title = 'Главная'
block content
	.textBlock
		h4 Основная информация
		p На данном сайте собрана статистика по многим известным шахматным дебютам, а также описание самых известных из них.
		p Реальное количество сыгранных партий каждым дебютом сильно отличается от указанного, так как не существует ни одной базы данных, включающей в себя даже десятую часть когда-либо сыгранных партий.
		//p Статистика взята с сайта 
		//	a(href='https://vk.com/away.php?to=https%3A%2F%2Fchess-land.com%2Fmodules.php%3Fname%3Ddebuts&cc_key=') chess-land.com
		h4 Итальянская партия
		.imageBlock
			img(src='https://chessmatenok.ru/wp-content/uploads/2017/02/italianskaia-partia.jpg' width=200 height=200)
		p Один из старейших шахматных дебютов. На итальянском звучит как Giuoco piano («джуоко пьяно»), то есть «тихая игра». 
		p Анализы итальянских мастеров, успешно применявших его на практике (главным образом Педро Дамиано), появились уже в XVI веке. 
		p В намерения белых обычно входит быстрое образование сильного пешечного центра с помощью c2-c3 и d2-d4 и создание угроз слабому пункту «f7». 
		p Однако постепенно за чёрных были найдены успешные способы борьбы с этим планом. 
		p Чёрного слона на чёрном поле c5 (после хода 3. … Сf8-c5) часто называют «итальянским слоном» — черные могут сделать другой ход и тогда будет другое начало: к примеру 
		p 3. … Kf6 и дальше пойдет защита двух коней.
		p Игра может развиваться по трём основным направлениям.

		p 1) Белые стремятся быстрее развить свои фигуры, не предпринимая пока никаких активных действий в центре. 
		p 4. d2-d3 d7-d6 5. Kb1-c3 Kg8-f6 6. 0-0 0-0 Это продолжение надёжно, однако оно не ставит перед чёрными сложных задач.

		p 2) Белые стремятся захватить центр. 
		p 4. c2-c3 Kg8-f6! Ход чёрных Kf6 не даёт белым покоя — пешка e4 атакована. 5. d2-d4 e5:d4 6. c3:d4 Cc5-b4+ 
		p Атакованный слон уходит без потери времени. Если бы он отошёл на b6, то после 7. d5, пешки белых стали бы теснить неприятельские фигуры чёрных. 
		p 7. Cc1-d2 Cb4:d2+ 8. Kb1:d2 d7-d5! Преобладание белых в центре ликвидировано. Чёрные своевременным выпадом уравнивают шансы.

		p 3) Третье направление гамбитное. 
		p Продолжая 4. c2-c3, при правильной игре за чёрных, белые не успевают построить сильный пешечный центр. 
		p Поэтому в начале XIX века английский шахматист Эванс предложил гамбитный ход 4. b2-b4, отдавая пешку. Это продолжение было названо в его честь гамбитом Эванса. 
		p 4. b2-b4 Cc5:b4 Принятие жертвы считается лучшим продолжением. Если чёрные отклонят гамбит, то белые сохранят и инициативу, и пешку.
		p 5. c2-c3 Жертва пешки позволяет белым выиграть время, необходимое для захвата центра.
		h4 Дебют четырех коней
		.imageBlock
			img(src='https://chessmatenok.ru/wp-content/uploads/2017/02/debiut-chetireh-konej.jpg' width=200 height=200)
		p Один из старинных дебютов. Первые его анализы встречаются в рукописях Полерио (XVI век). 
		p В дальнейшем в его разработке большую роль сыграли Л. Паульсен, А. Рубинштейн, Ф. Маршалл. 
		p Дебют неоднократно встречался в партиях чемпионов мира Э. Ласкера, Х. Р. Капабланки, М. Ботвинника. 
		p Наряду с симметричными системами, ведущими к спокойной позиционной игре, в дебюте разработаны острые продолжения. В настоящее время дебют встречается редко.
		p Игра может развиваться по трём основным направлениям.
		p 4. Cf1-b5 — классическое (испанское) продолжение.
		p 4. …Cf8-b4 — симметричный вариант, со сложной маневренной борьбой
		p 4. …Kc6-d4 — Гамбит Рубинштейна.
		p 4. …Cf8-с5 — старинный вариант.
		p 4. Cf1-с4 — итальянский вариант.
		p 4. …Cf8-с5 — тихая игра (Giuoco Piano), после 5. d2-d3 d7-d6 — тишайшая (Giuoco Pianissimo).
		p 4. …Cf8-b4 — классический вариант.
		p 4. …Кf6:е4 — вариант с временной жертвой фигуры.
		p 4. d2-d4 — шотландский вариант.
		p 4. …Сf8-b4 — вариант Морфи — Боголюбова.
		p 5. d4-d5
		p 5. Кf3:e5!?
		p 4. …e5:d4
		p 5. Kf3:d4 — сводит игру к шотландской партии.
		p 5. …Сf8-b4 6. Кd4:c6 b7:c6 7. Сf1-d3 d7-d5 8. e4:d5 c6:d5 9. 0-0 0-0 10. Сc1-g5 c7-c6</p>
		
		h4 Испанская партия
		.imageBlock
			img(src='https://chessbot.ru/wp-content/uploads/2017/10/Ispanskaya-partiya.jpg' width=200 height=200)
		p Испанская партия — один из самых популярных дебютов, применяемых в партиях гроссмейстеров. 
		p Изобретателем «Испанской партии» считается Руй Лопес (в зарубежной литературе данный дебют назван в его честь «дебютом Руй Лопеса», исп. Ruy López),
		p однако первое упоминание об этом дебюте встречается в руководстве испанского шахматиста XV—XVI веков Луиса Рамиреса де Лусены. 
		p Дебют характеризуется сложностью и разнообразием схем. Ему посвящены многочисленные анализы. 
		p Большую роль в разработке теории дебюта сыграли В. Стейниц, К. Яниш, М. Чигорин, Ф. Маршалл, З. Тарраш, А. Алехин, М. Эйве, П. Керес, В. Смыслов, 
		p И. Болеславский, И. Зайцев, С. Фурман, А. Карпов, Г. Каспаров и многие другие выдающиеся шахматисты.
		p Идея дебюта 
		p Идея испанской партии заключается в постоянной угрозе взятия и/или связке чёрного коня c6 белым слоном, 
		p что в ряде вариантов может сделать чёрную пешку e5 уязвимой целью для белых. 
		p По оценкам разных шахматных движков, дебют является одним из наиболее перспективных для белых 
		p и сохраняет наибольший перевес (полученный от преимущества первого хода), в примерно 0.2 пешки.
	//.videoBlock
	//	video(src = "https://stepik.org/media/attachments/course/114064/playback.mp4", controls)



