extends template
block variables
    -   var title = 'Дебют Рети'
block content
    //.imagesFlex
        //include imageBlock
        //+createImageBlock("img/css-probely.png", '33.33%')
        //+createImageBlock("img/css-text.png", '33.33%')
        //+createImageBlock("img/css-text-decoration.png", '33.33%')
    .textBlock
        h3 Основная информация по дебюту Рети, с изображениями первых ходов.
        p Дебют Рети, характеризующийся лишь первым ходом белых Kf3, хоть и является закрытым дебютом (первый ход не е4), характеризуется большой гибкостью, поскольку легко переходит во многие другие, даже открытые дебюты.
        p Разработан в начале XX века словацким гроссмейстером Рихардом Рети. 
        p В главной линии белые стремятся создать фигурное давление на центральные поля и получить над ними контроль. 
        p Во многих вариантах применяется фианкеттирование одного или обоих слонов. 
        p Для дебюта характерны перестановка ходов и переходы в другие дебюты часто с переменой цветов и лишним темпом. 
        p Большой вклад в разработку теории и практики дебюта внесли М. Ботвинник и В. Смыслов.
        h5 Варианты
        p Основная позиция дебюта возникает после ходов 1. Kg1-f3 d7-d5.
        p 2. c2-c4
        p 2. …d5:c4
        p 2. …d5-d4
        p 3. g2-g3
        p 3. …Kg8-f6 4. Cf1-g2
        p 4. …c7-c5
        p 5. e2-e3 Kb8-c6 6. e3:d4 c5:d4 7. 0-0 e7-e5
        p 5. d2-d3 Kb8-c6 6. 0-0 e7-e5 7. e2-e3
        p 4. …Kb8-c6
        p 5. d2-d3 e7-e5 6. 0-0
        p 5. b2-b4!?
        p 5. …a7-a6?! 6. 0-0 e7-e5 7. b4-b5 a6:b5 8. c4:b5 ±
        p 5. …Kc6:b4 6. Фd1-a4! Kb4-c6 7. Kf3-e5
        p 7. …Фd8-d6?! 8. Ke5:c6 Cc8-d7 9. Kb1-a3! Cd7:c6 10. Ka3-b5 Фd6-d7 11. Cg2:c6 b7:c6 12. Kb5:d4 ±
        p 7. …Cc8-d7
        p 8. Ke5:d7 Фd8:d7
        p 9. d2-d3 Kc6-d8 9. Фа4:d7 Kf6:d7 
        p 9. Kb1-a3 e7-e5 10. Ла1-b1 Kc6-d8
        p 11. Фа4:d7+ Kf6:d7
        p 12. Сg2:b7 Kd8:b7 13. Лb1:b7 
        p 12. Ka3-c2
        p 12. …Cf8-c5 13. 0-0 Лa8-b8 14. d2-d3 0-0 
        p 12. …c7-c6
        p 13. f2-f4 Cf8-c5 14. Cg2-h3 e5:f4 15. g3:d4 Cc5-b6 16. d2-d3 
        p 13. d2-d3 Cf8-c5 14. 0-0 Cc5-b6 
        p 11. Фa4-a5 Cf8-d6
        p 12. c4-c5 Cd6-e7 13. 0-0 0-0 14. d2-d3 Kf6-d5 15. c5-c6! b7:c6 16. Ka3-c4 Фd7-e6 17. Cc1-d2 c7-c5 18. Фa5-a4 Kd8-c6 19. Лb1-b7 Лf8-c8 20. Лf1-b1 =
        p 12. Ka3-b5 0-0! 13. Kb5:d6 c7:d6
        p 14. 0-0 Лa8-c8 15. Фа5:а7 Лс8:с4 16. Фа7-b6 Лс4-с2 17. e2-e3 
        p 14. d2-d3
        p 14. …Kd8-c6 15. Фа5-b5 Ла8-b8 16. Cc1-g5 Kf6-h5 
        p 14. …Ла8-с8 15. Фа5:а7 d7-d5!
        p 16. c4:d5 Kf6:d5 17. Cg2:d5 Фd7:d5 18. 0-0 Kd8-c6 19. Фа7-b6 Фd5:a2 20. Лb1-b2! Фa2-e6 21. Фb6-b3 Фe6:b3 22. Лb2:b3 Лс8-с7 ∞
        p 16. c4-c5 h7-h6 17. 0-0
        p 17. …Лf8-e8 18. Cc1-d2 Лс8-с6 
        p 17. …Фd7-g4 18. f2-f3 Фg4-f5 19. Cc1-d2 Лf8-e8 
        p 8. Ke5:c6
        p 8. …Cd7:c6?! 9. Cg2:d6+ b7:c6 10. Фa4:d6+ Kf6-d7 11. Kb1-a3! ±
        p 8. …b7:c6
        p 9. Cc1-a3 e7-e5 10. Ca3:f8 Крe8:f8 11. d2-d3 
        p 9. 0-0 e7-e5 10. d2-d3 
        p 9. Cg2:c6 e7-e5 10. d2-d3 Лa8-b8! 11. 0-0 Cd7:c6 12. Фa4:c6 Фd8-d7 13. Фc6:d7+ Крe8:d7 
        p 3. …c7-c5 4. Cf1-g2 Kb8-c6
        p 3. b2-b4
        p 3. …g7-g6
        p 3. …f7-f6
        p 3. …c7-c5
        p 3. …Cc8-g4
        p 4. d2-d3
        p 4. Kf3-e5
        p 4. Фb1-b3
        p 3. e2-e3
        p 3. …Kb8-c6 4. e3:d4 Kc6:d4 5. Kf3:d4 Фd8:d4 6. Kb1-c3
        p 3. …c7-c5
        p 4. e3:d4 c5:d4
        p 5. b2-b4 Kg8-f6
        p 5. d2-d3 e7-e5
        p 4. b2-b4 Kg8-f6
        p 2. …c7-c6
        p 3. g2-g3 Kg8-f6 4. Cf1-g2 d5:c4 — гамбитная система
        p 3. е2-е3
        p 3. b2-b3
        p 3. …Cc8-f5 — система Ласкера
        p 3. …Kg8-f6 4. g2-g3
        p 4. …Cc8-g4 5. Cf1-g2 e7-e6 — система Капабланки
        p 4. …g7-g6
        p 2. …e7-e6 3. g2-g3 Kg8-f6 4. Cf1-g2
        p 2. g2-g3
        p 2. …Kg8-f6 3. Cf1-g2 Cc8-f5
        p 2. …c7-c6 3. Cf1-g2 Cc8-g4

