paddingValueWidth = 1vw
paddingValueHeight = 1vh
.imagesFlex
  display flex
  flex-direction row
  justify-content space-evenly
  flex-wrap nowrap
  padding paddingValueWidth
  &Item
    padding paddingValueHeight
    overflow hidden